# ============================================================
# Environment
# ============================================================

.env
.env.*
!.env.example


# ============================================================
# Python
# ============================================================

__pycache__/
*.py[cod]
*$py.class
*.so


# ============================================================
# Virtual Environment
# ============================================================

.venv/
venv/
env/


# ============================================================
# Django
# ============================================================

db.sqlite3
*.log
staticfiles/


# ============================================================
# Testing / Coverage
# ============================================================

.coverage
htmlcov/
.pytest_cache/


# ============================================================
# IDE
# ============================================================

.vscode/
.idea/


# ============================================================
# macOS
# ============================================================

.DS_Store